/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('src/assets/fonts/open-sans-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('src/assets/fonts/open-sans-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/assets/fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/assets/fonts/open-sans-v28-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-600 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('src/assets/fonts/open-sans-v28-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('src/assets/fonts/open-sans-v28-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/assets/fonts/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/assets/fonts/open-sans-v28-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-800 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('src/assets/fonts/open-sans-v28-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('src/assets/fonts/open-sans-v28-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/assets/fonts/open-sans-v28-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-800.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/assets/fonts/open-sans-v28-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
  /* open-sans-italic - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('src/assets/fonts/open-sans-v28-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('src/assets/fonts/open-sans-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('src/assets/fonts/open-sans-v28-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/open-sans-v28-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('src/assets/fonts/open-sans-v28-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  