@import 'fonts';
@import 'utils';

$grey: #0F0E0E;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey;
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
    height: 100vh;
}

#pageroot {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.footer {
    margin-top: auto;
}

.hero-section {
    h1 {
        font-size: 50px;
        background: rgb(26,104,200);
        background: linear-gradient(90deg, rgba(26,104,200,1) 0%, rgba(121,9,118,1) 100%); 
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @include headings {
        text-align: center;
    }
}

.infobox {
    width: max-content;
    border: solid 2px #30AADD;
    padding: 15px;
    background-color: #30AADD70;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    .infobox-title {    
        margin-bottom: 5px;
        &::before {
            content: url('/src/assets/info.svg');
            display: inline-block;
            width: 1em;
            margin-right: 7px;
            fill: rebeccapurple;
        }
    }
}

#cf {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cf-input, .cf-textarea, .cf-button {
        display: block;
        margin-top: 10px;
        background-color: #3A3845;
        color: white;
    }
    
    .cf-input {
        border: none;
        padding: 5px 10px;
    }
    
    .cf-textarea {
        padding: 5px 10px;
        font-family: 'Open Sans', sans-serif;
        border: none;
        width: 50%;
    }

    .cf-button {
        border: none;
        border-radius: 3px;
        padding: 7px;
        background-color: #00FFAB;
        margin-bottom: 10px;
        margin-top: 15px;
    }
}